
/**
#message {
    width: 400px;
    background: #ddaaaa;
    margin: 0 auto;
    border: 1px solid;
    padding: 20px;
    opacity: 0;
    text-align: center;
    font-weight: bold;
    font-family: "DejaVu Sans Mono";
    word-spacing: 1em;
}


#message.show {
    opacity: 1;
    transition: 1s;
}



#change {
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000;
    background: #fff;

    transition: 1s;
}



#my-form {
    width: 300px;
    margin: 25px auto auto;
    background-color: #ffe8a1;
    padding: 25px;
}

**/

