#main-content {
    width: 1200px;
    padding: 10px;
    margin: auto;
    background: gray;
}

.block {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}

.inline {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}